.fa-atom, .fa-globe-americas, .fa-cannabis {
	color: #ff740e;
	font-size: 100px;
}

.fa-desktop {
	color: #ff740e;
	font-size: 80px;
}

.fa-map-marker-alt {
	font-size: 30px;
}

.facebook, .twitter, .instagram {
	color: #fff;
}

.skype {
	color: #270fb7;
	font-size: 20px;
}

.fa-twitter, .fa-instagram, .fa-spotify {
	margin-right: 15px;
	color: #919191;
}

.fa-facebook-f {
	margin-right: 22px;
	color: #919191;
}

.fa-bars {
	color: #fff;
	font-size: 1.7em;
}