* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	background-color: #f5eded;
}
.container {
	max-width: 80%;
	margin: 0 auto;
}

header{
	height: 70px;
	background-color: #354454;
	z-index: 1;
}

header div {
	height: 100%;
	margin: 0 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	color: #fff;
	font-size: 40px;
	font-family: "Brush Script MT";
}

nav {
	position: relative;
}

.menu {
	display: flex;
	list-style-type: none;
}

.menu a {
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	font-family: Calibri;
}

.menu li:nth-child(n+2) {
	padding-left: 15px;
	}

.menu a:hover {
	color: #ff740e;
}

.openMenu {
	display: none;
	cursor: pointer;
}

.banner-1 {
	padding: 9.15% 15%;
	background-image: url(../img/banner-11.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.block-1 {
	height: 100%;
}

.welcome {
	max-width: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome h1 {
	color: #fff;
	font-size: 3.125em;
	font-weight: normal;
	font-family: "Calibri Light";
	margin-bottom: 10px;
}

.logo-2 {
	font-family: "Brush Script MT";
	color: #ff740e;
}

.welcome h3 {
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	font-family: "Calibri Light";
	margin-bottom: 5px;
}

.layer-1 {
	color: #fff;
	font-size: 17px;
	font-family: Calibri;
	margin-bottom: 70px;
}

.welcome button {
	width: 170px;
	background-color: #ff740e;
	color: #fff;
	font-family: "Calibri Light";
	font-size: 25px;
	border: 0;
	padding: 5px 15px;
}

.welcome button:hover {
 background: rgba(0,0,0,0);
 color: #ff740e;
 box-shadow: inset 0 0 0 3px #ff740e;
 cursor: pointer;
}

.welcome button:active {
	box-shadow: 0px 0px 10px 1px #ededed;
}

.block-2 {
	background-color: #f5eded;
}

.block2-1 {
	max-width: 70%;
	margin: 0 auto;
	padding: 5% 0;
}

.block2-2 {
	height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block2-2 h3 {
	font-size: 2.5em;
	font-family: "Calibri Light";
	margin: 30px 0 10px 0;
	text-align: center;
}

.block2-2 span {
	font-size: 1.25em;
	font-family: Calibri;
	text-align: center;
	line-height: 22px;
}

.block2-3 {
	height: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.block2-4 {
	width: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block2-4 h4 {
	font-family: "Calibri Light";
}

.block2-4 span {
	font-size: 1.0625em;
	font-family: "Calibri Light";
	text-align: center;
	line-height: 22px;
}

.banner-2 {
	background-image: url(../img/banner-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.block-3 {
	max-width: 960px;
	height: 100%;
	padding: 60px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.block3-1 {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block3-2 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.block3-3 {
	display: flex;
	align-items: center;
}

.block3-2 h3 {
	color: #ff740e;
	font-size: 2.5em;
	font-family: "Calibri Light";
	margin-bottom: 40px;
}

.layer-2 {
	color: #fff;
	font-style: italic;
}

.block3-3 span {
	color: #fff;
	font-size: 1.0625em;
	font-family: "Calibri Light";
	line-height: 22px;
}

.block3-3 img {
	width: 20%;
	margin-left: 15px;
}

.block3-3 .photo-3 {
	margin-left: 0;
	margin-right: 15px;
}

.block-4 {
	background-color: #f5eded;
	padding-bottom: 40px;
}

.block4-1 {
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
	padding-top: 60px;
	box-sizing: border-box;
}

.block4-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block4-2 h3 {
	font-size: 2.5em;
	font-family: "Calibri Light";
	margin: 0px 0 10px 0;
}

.block4-2 span {
	font-size: 1.25em;
	font-family: Calibri;
	text-align: center;
	line-height: 22px;
}
.block4-3 {
	height: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.block4-4 {
	width: 220px;
	height: 318px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	z-index: 0;
}

.block4-4 h4 {
	font-size: 1.0625em;
	font-family: "Calibri Light";
	margin: 20px 0 10px 0;
	text-align: center;
}

.block4-4 span {
	font-family: "Calibri Light";
	line-height: 22px;	
	text-align: center;
}

.block4-4 img {
	width: 100%;
	-webkit-transition: transform 2.5s ease;
	-moz-transition: transform 2.5s ease;
	-o-transition: transform 2.5s ease;
	transition: transform 2.5s ease;
}

.block4-4 img:hover {
	transform: scale(1.1);
}

footer {
	width: 100%;
	background-color: #1A1D22;
	padding: 5% 15% 3% 15%;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

footer div {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	font-family: Arial, sans-serif;
	margin: 0 15px 20px 15px;
}

footer div h4 {
	margin-bottom: 20px;
	color: #fff;
}

footer div span {
	color: #A0A0A0
}

footer a {
	text-decoration: none;
	color: #A0A0A0
}

footer a:hover {
	color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
}

.follow {
	align-items: flex-start;
}

.follow h4 {
	text-align: center;
}







.fixed {
	position: fixed;
	width: 80%;
	background-color: rgba(53,68,84, .8);
}