@media screen and  (max-width: 1220px) {
	.container {
		max-width: 100%;
	}

	header {
		height: 50px;
	}

	.fixed {
		width: 100%;
	}

	header div {
		margin: 0 5%;
	}

	.banner-1 {
		padding: 5% 10%;
	}

	.block2-1 {
		max-width: 90%;
		padding: 5% 0;
	}

	.block3 {
		max-width: 90%;
		justify-content: center;
	}

	.block3-1 {
		display: none;
	}

	.block3-2 {
		width: 90%;
	}

.block3-2 img {
	width: 15%;
}

.block3-2 span {
	font-size: 1.2em;
}

.block4-1 {
	max-width: 90%;
}
}

@media screen and  (max-width: 780px) {
	.block2-4 {
		margin: 0 30px;
	}

	.block-3 {
		max-width: 95%;
		padding: 10px 0;
		justify-content: center;
	}

	.block4-3 {
		height: auto;
		justify-content: space-around;
	}
}

@media screen and (max-width: 640px) {

	header div {
		margin: 0;
	}

	.logo {
		display: none;
	}

	nav {
		width: 100%;
		text-align: center;
	}

	.openMenu {
		display: inline-block;
	}

	.menu {
		display: none;
		position: absolute;
		top: 144%;
		left: 0;
		width: 100%;
		background-color: #354454;
	}

	nav ul.active {
		display: flex;
		flex-direction: column;
	}

	.menu li {
		display: block;
		padding: 10px
	}

	.menu li:nth-child(n+2) {
		padding: ;
	border-top: 1px #fff solid;
	}

	.banner-1 {
		padding: 3%;
	}

	.welcome {
		max-width: 100%;
		align-items: center;
	}

	.welcome h3 {
		text-align: center;
		margin-bottom: 30px;
	}

	.layer-1 {
		display: none;
	}

	.block2-4 {
		margin: 0 30px 30px 30px;
	}

	.block3 {
		padding: 3% 0;
	}

	.block3-2 {
		width: 95%;
	}

	.block3-2 h3 {
		margin-bottom: 20px;
	}

	.block3-2 span {
		font-size: 1em;
	}

	.block3-2 img {
		width: 10%;
	}

	.block4-1 {
		padding-top: 20px;
	}

	.block4-2 h3 {
		text-align: center;
	}

	footer div:not(.follow) {
		margin: 0 30px 50px 30px;
	}
}

@media screen and (max-width: 540px) {
	.banner1 {
		background-size: cover;
	}

	.welcome h1 {
		font-size: 2.1875em;
	}

	.welcome h3 {
		font-size: 1.25em;
		margin-bottom: 20px;
	}

	.welcome button {
		font-size: 1em;
		width: 120px;
	}

	.block2-2 h3 {
		font-size:  1.5em;
		margin-top: 10px;
	}

	.block2-2 span {
		font-size: 1em;
	}

	.banner-2 {
		background-size: cover;
	}

	.block3-2 h3 {
		font-size: 1.5em;
	}

	.block3-2 span {
		margin-bottom: 10px;
	}

	.block4-2 h3 {
		font-size: 1.5em;
	}

	.block4-2 span {
		font-size: 1em;
	}

	.follow {
		margin: 0;
	}

	
}